.contents-container {
    padding: 3rem 7rem;

    .contents-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contents-top-filter {
            display: flex;
            gap: 1rem;

            button {
                padding: 0.4rem 1.6rem;
                font-family: 'p_bold';
                font-size: 14px;
                cursor: pointer;
                border: none;
                border-radius: 5px;
            }

            .filter-selected {
                background-color: black;
                color: white;
            }

            .filter-disabled {
                background: none;
                color: #717171;

                &:hover {
                    background-color: #e9e9e9;
                }
            } 
        } 
 
        .contents-top-search {
            border: 2px solid #000;
            display: flex;
            justify-content: center;
            .search-select{
                position: relative;
                border-right: 2px solid #000;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 6rem;
                font-size: 13px;
                gap: 3px;
                svg{
                    cursor: pointer;
                    width: 1.2rem;
                    height: 1.2rem;
                }
                .dropdown-option{
                    z-index: 10;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: calc( 100% + 3px);
                    div{
                        text-align: center;
                        padding: 10px 2px;
                        background-color: #000;
                        outline: 2px solid #000;
                        color: #fff;
                        cursor: pointer;
                        &:hover{
                            background-color: #202020;
                        }
                    }
                }
            }
            input[type=text] {
                padding: 15px 7px;
                width: 22rem;
                border: none;
                font-size: 14px;
                font-family: 'p_bold';
                &:focus {
                    background-color: #f7f6fd;
                }
            }

            button {
                padding: 0 10px;
                cursor: pointer;
                background: none;
                border: none;
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    stroke: #000;
                }
            }
        }

        .contents-top-create {
            padding: 0.4rem 1.6rem;
            font-family: 'p_bold';
            font-size: 14px;
            border-radius: 5px;
            color: white;
            background-color: #203B98;
        }
    }
    .contents-section{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 3rem;
        .search-nothing{
            font-size: 18px;
            padding-top: 7rem;
            grid-column: span 4;
            text-align: center;
        }
        .contents-worldcup-card{
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            border: 2px solid #000;
            //뷰포트 1350이하
            @media screen and (max-width:1350px) {
                width: 15rem;
            }
            //뷰포트 1351이상 
            @media screen and (min-width:1351px) {
                width: 18rem;
            }
             //뷰포트 1800이상 
             @media screen and (max-width:1801px) {
                width: 21rem;
            }
             //뷰포트 1800이상 
             @media screen and (min-width:2000px) {
                width: 26rem;
            }

            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: 'p_bold';
            .new-tag {
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: #eb4f4f;
                border: 2px solid #000;
                border-radius: 30px;
                color: #fff;
                padding: 2px 10px;
                font-size: 12px;
            }
            .card-thumbnail{
                border-bottom: 2px solid #000;
                width: 100%;
                @media screen and (max-width:1350px) {
                    height: 8rem;
                }
                //뷰포트 1351이상 
                @media screen and (min-width:1351px) { 
                    height: 11rem;
                }
                 //뷰포트 1800이상 
                 @media screen and (max-width:1801px) {
                    height: 14rem;
                }
                //뷰포트 2000이상 
                @media screen and (min-width:2000px) {
                    height: 20rem;
                }
                display: flex;
                overflow: hidden;
                img{
                    width: 50%;
                    object-fit: cover;
                }
            }

            .worldcup-title {
                width: 100%;
                margin: 1rem 0;
                padding: 0 1rem;
                h3{
                    font-size: 16px;
                }
            }
            .worldcup-description {
                width: 100%;
                margin: 0.3rem 0 2rem 0;
                padding: 0 1rem;
                p{
                    font-family: 'p_normal';
                    word-break: keep-all;
                    font-size: 13px;
                    color: #000;
                }
            }
            .card-category{
                padding: 0 1rem;
                display: flex;
                gap: 1rem;
                color: #203B98;
                font-size: 12px;
                margin: 0.5rem 0 1rem 0;
            }
            .card-view{
                padding: 0 1rem;
                display: flex;
                align-items: center;
                gap: 2px;
                font-size: 12px;
                color: #6d6d6d;
            }
            .card-link{
                border-top: 2px solid #000;
                display: flex;
                a{
                    width: 50%;
                    text-align: center;
                    font-size: 16px;
                    color: #fff;
                    padding: 0.7rem 0;
                    &:nth-child(1){
                        background-color: #203b98;
                        opacity: 0.9;
                        &:hover {
                            background-color: #203b98;
                            opacity: 1;
                        }
                    }
                    &:nth-child(2){
                        background-color: #e99b00;
                        opacity: 0.9;
                        &:hover {
                            background-color: #e99b00;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .filter-loading{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 31;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 1rem;
       
    }
}