.create-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background-color: red;

    .create-game-steps-container {
        position: absolute;
        top: 2rem;

        .steps-page-number {
            color: #777777;
            font-family: 'p_bold';
            font-size: 18px;
        }

        .steps-page-title {
            font-family: 'p_bold';
            font-size: 30px;
            letter-spacing: 3px;
            margin: 2rem 0;
        }

        .steps-page-desc {
            font-size: 16px;
        }


        .create-game-step12 {
            display: flex;
            flex-direction: column;
            align-items: center;

            input[type=text] {
                font-size: 13px;
                font-family: 'p_bold';
                padding: 0.5rem 1rem;
                width: 20rem;
                border: 0.5px solid #949494;

                &::placeholder {
                    color: #949494;
                }

                &:focus {
                    background-color: #f7f6fd;
                }
            }

            textarea {
                font-size: 13px;
                font-family: 'p_bold';
                padding: 0.5rem 1rem;
                width: 20rem;
                height: 7rem;
                border: 0.5px solid #949494;

                &:focus {
                    background-color: #f7f6fd;
                }
            }

            .select-tournament {
                color: #949494;
                font-size: 13px;
                font-family: 'p_bold';
                padding: 0.5rem 1rem;
                border: 0.5px solid #949494;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                svg {
                    cursor: pointer;
                    width: 1rem;
                    height: 1rem;
                }

                .tournament-options {
                    position: absolute;
                    left: -0.5px;
                    width: calc(100% + 1px);
                    top: 1px;
                    margin-top: 2rem;
                    display: flex;
                    border: 0.5px solid #949494;
                    border-top: none;
                    flex-direction: column;

                    span {
                        padding: 0.5rem 1rem;
                        cursor: pointer;
                        background-color: black;
                        color: white;

                        &:hover {
                            background-color: #313131;
                        }
                    }
                }
            }

            .step12-form {
                display: flex;
                flex-direction: column;
                margin-top: 3rem;
                gap: 0.5rem;

                .step-error-message {
                    font-size: 13px;
                    color: #f48181;
                }

                .category-input {
                    margin: 4rem 0 1rem 0;
                }

                .category-list {
                    display: flex;
                    gap: 1.2rem;

                    span {
                        font-family: 'p_bold';
                        font-size: 13px;
                        padding: 0.3rem 0.5rem;
                        border: 0.5px solid #949494;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1.2rem;

                        svg {
                            cursor: pointer;
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }

            .next-step-button {
                width: 22rem;
                cursor: pointer;
                background-color: #000;
                color: #fff;
                border: none;
                font-family: 'p_bold';
                padding: 0.5rem 0;

                margin-top: 2rem;
            }
        }

        .create-game-step3 {
            display: flex;
            justify-content: space-between;
            gap: 15rem;

            .step3-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                p {
                    line-height: 2rem;
                }

                button {
                    cursor: pointer;
                    font-size: 13px;
                    color: #fff;
                    background: #000;
                    border: none;
                    font-family: 'p_bold';
                    padding: 1rem 3rem;
                }
            }

            .step3-right {
                min-width: 28rem;
                max-width: 28rem;

                .images-upload-container {
                    cursor: pointer;

                    input[type=file] {
                        width: 0;
                    }

                    .dragged {
                        border: 3px solid #8d8d8d;
                        color: #8d8d8d;
                    }

                    .leaved {
                        border: 3px solid #000;
                        color: #000;
                    }

                    .label-content {
                        padding: 5rem 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 2.5rem;
                        font-family: 'p_bold';
                        font-size: 12px;

                        svg {
                            width: 3rem;
                            height: 3rem;
                        }
                    }
                }

                .imagelist-paging {
                    margin: 1rem 0 1.5rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 12px;
                    font-family: 'p_bold';

                    button {
                        border: none;
                        cursor: pointer;
                        background-color: #000;
                        color: white;
                        font-family: 'p_bold';
                        padding: 0.3rem 1rem;

                        &:active {
                            background-color: #686868;
                        }
                    }
                }

                .scroll-hide {
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                .imagelist-preview {
                    border: 3px solid #000;
                    display: flex;
                    overflow-x: scroll;
                    padding: 10px;
                    gap: 10px;

                    div {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 7rem;
                            height: 5rem;
                            object-fit: cover;
                        }

                        button {
                            border: none;
                            background: none;
                            display: none;
                            cursor: pointer;
                            position: absolute;
                            padding: 0;
                            top: 2px;
                            right: 2px;

                            svg {
                                width: 23px;
                                height: 23px;
                                fill: rgba(255, 255, 255, 0.7);
                                stroke: #000;
                            }
                        }

                        &:hover {
                            button {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .step3-image-modify {
            margin-top: 15rem;
            padding-top: 10rem;

            .modify-head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;
                font-family: 'p_bold';

                button {
                    cursor: pointer;
                    background-color: #007BC7;
                    border: none;
                    padding: 0.5rem 1rem;
                    color: #fff;
                    font-family: 'p_bold';

                    &:active {
                        background-color: #005b94;
                    }
                }
            }

            .modify-section {
                margin-top: 3rem;
                width: 100%;
                text-align: center;
                font-size: 13px;
                font-family: 'p_bold';

                thead {
                    background-color: #000;
                    color: #fff;

                    td {
                        padding: 1rem 0;
                        &:first-child{
                            width: 5rem;
                        }
                        &:nth-child(2){
                            width: 14rem;
                        }
                    }
                }

                tbody {
                    td {
                        padding: 1rem 0;
                        vertical-align: middle;

                        img {
                            width: 12rem;
                            height: 10rem;
                            object-fit: cover;
                        }

                        input[type=text] {
                            font-family: 'p_bold';
                            font-size: 13px;
                            padding: 0.5rem;
                            border: 0.5px solid #949494;
                            width: 80%;
                            &:focus {
                                background-color: #f7f6fd;
                            }
                        }
                    }
                }
            }
            .modify-paging{
                margin: 2rem auto;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                
                .get-page{
                    background-color: #000;
                    color: #fff;
                }
                button{
                    cursor: pointer;
                    font-family: 'p_bold';
                    border: 2px solid #000;
                    background-color: #fff;
                    padding: 0.5rem 1rem;
                }
            }
            .worldcup-create-success-popup{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 40;
                width: 100vw;
                height: 100vh;
                background-color: rgba(255,255,255,0.5);
                display: grid;
                place-items: center;
                transition: all .3s;
                backdrop-filter: blur(10px);
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    background-color: #fff;
                    padding: 2rem 4rem;
                    border: 2px solid #00ad74;
                    h2{
                        font-size: 18px;
                        font-family: 'p_bold';
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                        svg{
                            width: 3rem;
                            height: 3rem;
                            stroke: #00ad74;
                        }
                    }
                    button{
                        cursor: pointer;
                        background-color: #00ad74;
                        color: #fff;
                        border: none;
                        font-family: 'p_bold';
                        padding: 0.5rem 0;
                    }
                }
            }
        }
    }
}