.banner-container {
    display: flex;
    padding-top: 2rem;

    .banner-pop {
        width: 18rem;

        .banner-pop-title {
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.5rem;

            span {
                font-family: 'p_bold';
                padding-bottom: 3px;

                &:nth-child(2) {
                    width: 80px;
                    text-align: center;
                    border-bottom: 2px solid;
                    cursor: pointer;
                    &:hover{
                        color: #adadad;
                    }
                }
            }
        }

        .banner-pop-rank {
            font-size: 12px;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;

            div {
                color: #000;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 0.3rem 0;
                &:hover{
                    background-color: #f1f1f1;
                }

                span {
                    width: 1.7rem;
                    height: 1.7rem;
                    display: grid;
                    place-items: center;
                    color: white;
                    background-color: black;
                }

                p {
                    max-width: 12rem;
                    font-family: 'p_bold';
                }
            }
        }
    }

    .banner-dashboard {
        flex-grow: 1;
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .banner-dashboard-title {
            font-size: 20px;
            font-family: 'p_bold';
        }
        .banner-dashboard-charts{
            display: flex;
            justify-content: space-between;
        }
        .banner-dashboard-notice{
            font-size: 14px;
            display: grid;
            grid-template-columns: 1fr 7fr 1.5fr 1fr;
            place-items: center;
            div{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-family: "p_bold";
                svg{
                    width: 1.7rem;
                    height: 1.7rem;
                }
            }
            h3{
                width: 100%;
                padding-left: 2rem;
                color: #727272;
            }
            a{
                font-size: 12px;
                color: #545454;
            }
        }
    }
}