@font-face {
    font-family: 'SUITE-light';
    src: url('../fonts/SUITE-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SUITE-medium';
    src: url('../fonts/SUITE-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'SUITE-bold';
    src: url('../fonts/SUITE-Bold.ttf') format('truetype');
}