@font-face {
    font-family: 'p_thin';
    src: url('../fonts/SUITE-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'p_normal';
    src: url('../fonts/SUITE-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'p_bold';
    src: url('../fonts/SUITE-Bold.ttf') format('truetype');
}