.header-container{
    z-index: 30;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
    .header-logo{
        font-family: "p_bold";
        font-size: 28px;
        color: black;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        .header-login{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.2rem;
            p{
                font-family: 'p_bold';
                font-size: 14px;
                color: black;
            }
        }
    }
}