.header-container{
    z-index: 30;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;

    .header-logo{
        display: inline-block;
        width: 15vw;
        font-family: "p_bold";

        .logo {
            width: max-content;
            font-size: 28px;
            color: #000;
        }
    }

    nav{
        width: 80vw;
        height: 3rem;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        .main-menu {
            width: max-content;
            height: 3rem;
            
            .menu {
                display: inline-block;
                width: 6.25rem;
                height: 3rem;
                margin: 0 1.5rem;
                text-align: center;
                border-bottom: 2px solid transparent;

                &.active {
                    border-bottom: 2px solid #000;

                    a {
                        color: #000;
                    }
                }

                a {
                    width: 100%;
                    line-height: 3rem;
                    cursor: pointer;
                    font-family: "p_bold";
                    color: #777777;
                    font-size: 14px;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }

        .user-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 6.25rem;
            height: 5rem;

            .login-menu{
                width: 6.25rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: none;
                background: none;

                svg {
                    width: 1.2rem;
                }
                
                p{
                    margin-top: 10px;
                    font-family: 'p_bold';
                    font-size: 12px;
                    color: black;
                }
            }

            .user-profile {
                width: 6.25rem;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .view-profile {
                    width: 6.25rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border: none;
                    background: none;

                    svg {
                        color: #000;
                        font-size: 18px;
                    }

                    p {
                        margin-top: 10px;
                        font-family: 'p_bold';
                        font-size: 12px;
                        color: black;
                    }
                }
            }
        }
    }
}