.edit-worldcup-container {
    display: flex;
    padding: 0 7rem;
    margin: 1rem 0;
    gap: 3rem;

    .update-section {
        h1 {
            font-size: 14px;
            font-family: 'p_bold';
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                padding: 5px 15px;
                font-size: 13px;
                border: none;
                background-color: #c84141;
                color: #fff;
                &:hover{
                    background-color: #b11d1d;
                }
            }
        }

        table {
            margin: 1rem 0;
            width: 100%;
            text-align: center;
            font-size: 13px;
            font-family: 'p_bold';
            border: 2px solid #000;

            thead {
                background-color: #000;
                color: #fff;

                td {
                    padding: 1rem 0;

                    &:first-child {
                        width: 5rem;
                    }

                    &:nth-child(2) {
                        width: 12rem;
                    }

                    &:nth-child(3) {
                        width: 25rem;
                    }

                    &:nth-child(4) {
                        width: 8rem;
                    }
                }
            }

            tbody {
                tr {
                    &:nth-child(2n) {
                        background-color: #f5f5f5;
                    }
                }

                td {
                    padding: 1rem 0;
                    vertical-align: middle;

                    label {
                        display: grid;
                        place-items: center;
                        cursor: pointer;

                        .img-wrapper {
                            width: 8rem;
                            height: 6.5rem;
                            position: relative;
                            border: 2px solid #000;

                            .icon-wrapper {
                                position: absolute;
                                background-color: rgba(0, 0, 0, 0.4);
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                color: #fff;
                                font-size: 13px;

                                svg {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    fill: rgba(255, 255, 255, 0.7)
                                }

                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.6);

                                    svg {
                                        fill: #fff;
                                    }
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                                object-fit: cover;
                            }
                        }

                        input[type=file] {
                            width: 0;
                            height: 0;
                        }
                    }

                    input[type=text] {
                        font-size: 13px;
                        padding: 0.5rem;
                        border: 2px solid #000;
                        width: 80%;

                        &:focus {
                            background-color: #f7f6fd;
                        }
                    }

                    button {
                        padding: 0.5rem 2rem;
                        border: none;
                        background-color: #F15E5E;
                        color: #fff;

                        &:hover {
                            background-color: #c84141;
                        }
                    }
                }
            }
        }
    }

    aside {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .wrapper {
            position: sticky;
            top: 6rem;
            width: 15rem;
            .info-name {
                display: flex;
                flex-direction: column;

                .aside-title {
                    font-size: 14px;
                    font-family: 'p_bold';
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        padding: 5px 15px;
                        font-size: 13px;
                        border: none;
                        background-color: #000;
                        color: #fff;
                        &:hover{
                            background-color: #2b2b2b;
                        }
                    }
                }

                .thunbnail {
                    margin-top: 0.5rem;
                    align-items: center;
                    font-size: 16px;
                    font-family: 'p_bold';

                    div {
                        width: 100%;
                        border: 2px solid #000;
                        height: 10rem;
                        display: flex;
                        overflow: hidden;

                        img {
                            width: 50%;
                            object-fit: cover;
                        }
                    }

                    p {
                        font-size: 13px;
                        margin: 0.3rem 0;
                    }
                }

                .categories {
                    display: flex;
                    gap: 5px;

                    span {
                        font-size: 12px;
                        padding: 5px 10px;
                        border: 2px solid #000;
                    }
                }
            }
            .update-check{
                margin-top: 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1{
                    font-family: 'p_bold';
                    font-size: 32px;
                }
                h2{
                    font-size: 14px;
                    color: #6d6d6d;
                }
                p{  
                    margin: 0.5rem 0;
                    color: #6d6d6d;
                    font-size: 12px;
                }
                button{
                    border: none;
                    background-color: #000;
                    color: #fff;
                    width: 100%;
                    font-size: 16px;
                    padding: 15px 0;
                    &:hover{
                        background-color: #2b2b2b;
                    }
                }
            }
        }
    }
}