.edit-worldcup-container {
    display: flex;
    padding: 0 7rem;
    margin: 1rem 0;
    gap: 3rem;

    .update-section {
        h1 {
            font-size: 14px;
            font-family: 'p_bold';
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                padding: 5px 15px;
                font-size: 13px;
                border: none;
                background-color: #c84141;
                color: #fff;

                &:hover {
                    background-color: #b11d1d;
                }
            }
        }

        table {
            margin: 1rem 0;
            width: 100%;
            text-align: center;
            font-size: 13px;
            font-family: 'p_bold';
            border: 2px solid #000;

            thead {
                background-color: #000;
                color: #fff;

                td {
                    padding: 1rem 0;

                    &:first-child {
                        width: 5rem;
                    }

                    &:nth-child(2) {
                        width: 12rem;
                    }

                    &:nth-child(3) {
                        width: 25rem;
                    }

                    &:nth-child(4) {
                        width: 8rem;
                    }
                }
            }

            tbody {
                tr {
                    &:nth-child(2n) {
                        background-color: #f5f5f5;
                    }
                }

                td {
                    padding: 1rem 0;
                    vertical-align: middle;

                    label {
                        display: grid;
                        place-items: center;
                        cursor: pointer;

                        .img-wrapper {
                            width: 8rem;
                            height: 6.5rem;
                            position: relative;
                            border: 2px solid #000;

                            .icon-wrapper {
                                position: absolute;
                                background-color: rgba(0, 0, 0, 0.4);
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                color: #fff;
                                font-size: 13px;

                                svg {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    fill: rgba(255, 255, 255, 0.7)
                                }

                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.6);

                                    svg {
                                        fill: #fff;
                                    }
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                                object-fit: cover;
                            }
                        }

                        input[type=file] {
                            width: 0;
                            height: 0;
                        }
                    }

                    input[type=text] {
                        font-size: 13px;
                        padding: 0.5rem;
                        border: 2px solid #000;
                        width: 80%;

                        &:focus {
                            background-color: #f7f6fd;
                        }
                    }

                    button {
                        padding: 0.5rem 2rem;
                        border: none;
                        background-color: #F15E5E;
                        color: #fff;

                        &:hover {
                            background-color: #c84141;
                        }
                    }
                }
            }
        }

        .add-field-button {
            width: 100%;
            padding: 15px 0;
            margin-bottom: 3rem;
            font-size: 16px;
            border: 2px solid #000;
            background-color: #203B98;
            color: #fff;

            &:hover {
                background-color: #3958c8;
            }
        }
    }

    aside {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .wrapper {
            position: sticky;
            top: 6rem;
            width: 15rem;

            .info-name {
                display: flex;
                flex-direction: column;

                .aside-title {
                    font-size: 14px;
                    font-family: 'p_bold';
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        padding: 5px 15px;
                        font-size: 13px;
                        border: none;
                        background-color: #000;
                        color: #fff;

                        &:hover {
                            background-color: #2b2b2b;
                        }
                    }
                }

                .thunbnail {
                    margin-top: 0.5rem;
                    align-items: center;
                    font-size: 16px;
                    font-family: 'p_bold';

                    div {
                        width: 100%;
                        border: 2px solid #000;
                        height: 10rem;
                        display: flex;
                        overflow: hidden;

                        img {
                            width: 50%;
                            object-fit: cover;
                        }
                    }

                    p {
                        font-size: 14px;
                        margin: 0.5rem 0;
                    }
                }

                .desc {
                    font-family: 'p_normal';
                    border-radius: 10px;
                    font-size: 12px;
                    height: 100px;
                    padding: 5px 10px;
                    color: #646464;
                    background-color: #f1f1f1;
                }

                .categories {
                    display: flex;
                    gap: 5px;

                    span {
                        border-radius: 30px;
                        color: #203B98;
                        font-size: 12px;
                        padding: 5px 10px;
                        border: 2px solid #203B98;
                    }
                }
            }

            .update-check {
                margin-top: 5.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    font-family: 'p_bold';
                    font-size: 32px;
                }

                h2 {
                    font-size: 14px;
                    color: #6d6d6d;
                }

                p {
                    margin: 0.5rem 0;
                    color: #6d6d6d;
                    font-size: 12px;
                }

                button {
                    border: none;
                    background-color: #000;
                    color: #fff;
                    width: 100%;
                    font-size: 16px;
                    padding: 15px 0;

                    &:hover {
                        background-color: #2b2b2b;
                    }
                }
            }
        }
    }
}

.edit-info-popup {
    z-index: 31;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;

    .edit-popup-container {
        padding: 10px;
        min-width: 30rem;
        background-color: #fff;
        border: 2px solid #000;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        svg {
            cursor: pointer;
            width: 2rem;
            height: 2rem;
        }

        .edit-section {
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            h1 {
                margin-top: 1rem;
                font-family: 'p_bold';
                font-size: 14px;

                &:first-child {
                    margin-top: 0;
                }
            }

            .img-wrapper {
                position: relative;
                width: 30rem;
                display: flex;
                border: 2px solid #000;

                img {
                    width: 50%;
                    height: 12rem;
                    object-fit: cover;
                }

                .click-img-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;

                    div {
                        background-color: rgba(0, 0, 0, 0.4);
                        cursor: pointer;
                        color: #fff;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        svg {
                            fill: rgba(255, 255, 255, 0.7);
                            width: 2rem;
                            height: 2rem;
                        }

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.6);

                            svg {
                                fill: #fff;
                            }
                        }
                    }
                }
            }

            input[type=text],
            textarea {
                border: 2px solid #000;
                padding: 10px;
                font-size: 15px;

                &:focus {
                    background-color: #f7f6fd;
                }
            }

            textarea {
                height: 100px;
            }

            p {
                font-size: 13px;
                color: #F15E5E;
            }

            .category-input {
                display: flex;
                align-items: center;
                gap: 1rem;

                input[type=text] {
                    width: 10rem;

                    &::placeholder {
                        font-size: 13px;
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 13px;
                    font-family: 'p_bold';

                    span {
                        border: 2px solid #000;
                        display: flex;
                        align-items: center;
                        padding: 5px 5px;
                        gap: 5px;

                        svg {
                            width: 1.2rem;
                            height: 1.2rem;
                        }
                    }
                }
            }

            .save-button {
                margin-top: 2rem;
                background-color: #000;
                border: none;
                color: #fff;
                font-size: 16px;
                padding: 10px 0;

                &:hover {
                    background-color: #2b2b2b;
                }
            }
        }

        .edit-thumbnail-popup {
            z-index: 32;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .thumbnail-container {
                overflow-y: scroll;
                max-height: 20rem;
                border: 2px solid #000;
                background-color: #fff;
                padding: 0.5rem 1rem 1rem 1rem;

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                h1 {
                    width: 100%;
                    text-align: center;
                    margin: 10px 0;
                    font-size: 15px;
                    font-family: 'p_bold';
                }

                .img-wrapper {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 8px;

                    img {
                        border: 2px solid #000;
                        cursor: pointer;
                        width: 8rem;
                        height: 6.5rem;
                        object-fit: cover;
                        display: block;

                        &:hover {
                            border-color: #e8e8e8;
                        }
                    }
                }
            }

            .scroll-hide {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .delete-section {
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h1 {
                font-family: 'p_bold';
                font-size: 24px;
                color: #f0607b;
            }

            p {
                font-size: 16px;
            }

            button {
                font-size: 16px;
                padding: 1rem 0;
                border: none;
                color: #fff;
                border: none;
                color: #fff;
                background-color: #f0607b;

                &:hover {
                    background-color: #c53650;
                }
            }
        }
    }
}